@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #030014;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

main {
  width: 100%;
  height: 100vh;
  color: white;
  scroll-behavior: smooth;
  transition: all ease 2s;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  width: 60%;
  z-index: 20;
  padding: 16px 48px;
  background: rgba(5, 5, 5, 0.25);
  box-shadow: 0 5px 24px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
}

#ham-wrapper {
  position: fixed;
  width: 90%;
  padding: 16px 24px;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.gradiant-text {
  background: linear-gradient(to right, #d6c7ff, #ab8bff);
  background-clip: text;
  color: transparent;
}

.india-text {
  background: linear-gradient(to top, #046a38, #ffffff, #ff671f);
  background-clip: text;
  color: transparent;
}

.logo {
  font-family: "DM Sans", serif;
  font-weight: bold;
  font-size: 24px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

#hambarger .line {
  height: 2px;
  width: 24px;
  background-color: #fff;
}

#line1 {
  margin-top: 2.7px;
}

#line2 {
  margin-top: 7px;
}

aside {
  position: fixed;
  z-index: 100;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #ab8bff;
}

aside div {
  width: 100%;
  height: 60%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
  position: relative;
}

aside div a {
  font-size: 24px;
}


@keyframes sidenavReveal {
  0% {
    right: -100%;
  }
  25% {
    left: 75%;
  }
  50% {
    left: 50%;
  }
  75% {
    left: 25%;
  }
  100% {
    left: 0;
  }
}
@keyframes sidenavHide {
  0% {
    right: 0;
  }
  25% {
    right: -25%;
  }
  50% {
    right: -50%;
  }
  75% {
    right: -75%;
  }
  100% {
    right: -100%;
  }
}

@keyframes hamToXLine1 {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: 30deg;
  }
  100% {
    rotate: 45deg;
  }
}

@keyframes xToHamLine1 {
  0% {
    rotate: 45deg;
  }
  25% {
    rotate: 30deg;
  }
  50% {
    rotate: 15deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes hamToXLine2 {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: -15deg;
    margin-top: -2px;
  }
  50% {
    rotate: -30deg;
    margin-top: -2px;
  }
  100% {
    rotate: -45deg;
    margin-top: -2px;
  }
}
@keyframes xToHamLine2 {
  0% {
    rotate: -45deg;
  }
  25% {
    rotate: -30deg;
    margin-top: 7px;
  }
  50% {
    rotate: -15deg;
    margin-top: 7px;
  }
  100% {
    rotate: 0deg;
    margin-top: 7px;
  }
}

section,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home , #skills , #about , #projects {
  min-height: 100vh;
}

#home-main {
  width: 90%;
  display: flex;
  align-items: center;
}

#home-left,
#home-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-left {
  width: 100%;
}

#profile-img {
  margin: 0 auto;
  width: 20vw;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem #ab8bff);
}

#hello {
  font-size: 2vw;
  margin-bottom: 2px;
}

#sourav {
  font-size: 4vw;
  font-weight: 600;
}

.home-text {
  margin-top: 5px;
  font-size: 3vw;
  font-weight: 600;
}

.home-btn {
  padding: 8px 16px;
  background: #fff;
  color: black;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  border: 1px solid white;
}

#resume-btn {
  background: transparent;
  color: white;
  border: 1px solid white;
}

#about-section,
#projects-section,
#contact-section,
#footer-section,
#skills-section
 {
  margin-top: 24px;
  width: 90%;
}

#socials {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
}

#socials a {
  height: 48px;
  width: 48px;
  padding: 12px;
  background-color: #0f172a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#socials a:hover i {
  color: #ab8bff;
}

#made-with-text {
  color: #d6c7ff;
}
#made-with-text:hover {
  color: #ab8bff;
}

#showcase {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  margin: 24px 0;
  width: 100%;
  padding: 10px 5px;
  background: #ab8bff;
}

#showcase h3 {
  font-size: 24px;
  text-wrap: nowrap;
}

#about-section{
    margin-top: 48px;
}
.wrapper {
  width: 100%;
  margin-top: 48px;
  display: flex;
  align-items: center;
}

#about-img-containter {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-img {
  width: 400px;
  border-radius: 8px;
  padding: 4px;
  border: 1px solid #d6c7ff;
}

#about-me {
  width: 90%;
  padding: 32px 24px;
  border-radius: 8px;
  background: #0f172a;
}

#about-me p {
  margin-top: 24px;
}

#education {
  margin-top: 16px;
  width: 90%;
  padding: 32px 24px;
  border-radius: 8px;
  background: #0f172a;
}

.education-wrapper {
  margin-top: 24px;
}

.card-title i  {
  font-size: 24px;
  padding: 8px;
  border-radius: 50%;
  background-color: #ab8bff;
  margin-right: 8px;
}


#skills-container{
    margin-top: 24px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

#skills-container img {
  width: 54px;
  padding: 6px;
  background: white;
  border-radius: 8px;
}

.skill-wrapper{
    width: 30%;
    padding: 32px 24px;
    border-radius: 8px;
    background-color: #0f172a;
}

.skill-logo{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card-title{
    font-size: 20px;
}

#project-container {
  margin-top: 32px;
  display: grid;
  gap: 48px;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-wrapper {
  border-radius: 8px;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 5px 24px 0 rgba(31, 38, 135, 0.37);
  transition: all 1s;
}

.project-wrapper:hover{
    scale: 1.1;
}

.project-img-container {
  overflow: hidden;
  background: #ab8bff;
  border-radius: 8px;
}

.project-img {
  margin: 32px 32px -24px 32px;
  width: 80%;
  rotate: 3deg;
  border-radius: 8px;
}

.project-text-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.project-bottom {
  margin-top: 16px;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tech-stack {
  display: flex;
}

.tech-stack img {
  width: 48px;
  padding: 8px;
  border-radius: 50%;
  background-color: #030014;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.tech-stack-2,
.tech-stack-3 {
  margin-left: -8px;
}

.project-title {
  margin-top: 16px;
  font-size: 24px;
}

.project-description {
  margin-top: 16px;
  padding-right: 5px;
  line-height: 1.5;
  font-weight: 300;
  font-size: 15px;
}

#projects a {
  color: #d6c7ff;
}
#projects a i {
  font-size: 20px;
}
#projects a:hover {
  color: #ab8bff;
}

@media screen and (max-width: 1080px) {
  #project-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 90%;
    padding: 16px 24px;
  }
  nav ul a {
    display: none;
  }
  #ham-wrapper {
    display: flex;
  }
  #home-main {
    flex-direction: column-reverse;
    gap: 50px;
  }
  #profile-img {
    width: 50vw;
  }

  #hello {
    font-size: 5vw;
  }

  #sourav {
    font-size: 7vw;
  }
  .home-text {
    font-size: 6vw;
  }
  .home-btn {
    padding: 8px 16px;
    font-size: 16px;
  }
  .wrapper {
    flex-direction: column;
    gap: 16px;
  }
  #education,
  #about-me {
    width: 100%;
  }

  #skills-wrapper img {
    width: 48px;
    padding: 5px;
  }

  #showcase h3 {
    font-size: 16px;
  }

  #about-img-containter {
    width: 100%;
  }

  #about-img {
    width: 100%;
  }

  
  .tech-stack img {
    width: 40px;
  }

  #project-container {
    grid-template-columns: 1fr;
  }

  #socials a{
    height: 40px;
    width: 40px;
  }

  #skills-container{
    flex-direction: column;
    gap: 16px;
  }

  .skill-wrapper{
    width: 100%;
  }
}

