@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #030014;
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
  
}

main{
    width: 100%;
    height: 100vh;
    color: white;
    scroll-behavior: smooth;
    transition: all ease 2s;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: none;
}

a{
    text-decoration: none;
    color: white;
}


nav{
    width: 60%;
    z-index: 20;
    padding: 16px 48px;
    background: rgba( 5, 5, 5, 0.25 );
    box-shadow: 0 5px 24px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
}

#ham-wrapper{
    position: fixed;
    width: 90%;
    padding: 16px 24px;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}


.gradiant-text{
    background: linear-gradient(to right, #D6C7FF, #AB8BFF);
    background-clip: text; 
    color: transparent;
}

.india-text{
    background: linear-gradient(to top, #046A38, #ffffff , #FF671F);
    background-clip: text; 
    color: transparent;
}

.logo{
    font-family: "DM Sans", serif;
    font-weight: bold;
    font-size: 24px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 24px;
}


nav a{
    text-decoration: none;
    color: white;
}


nav ul a:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}


#hambarger .line{
    height: 2px;
    width: 24px;
    background-color: #fff;
  
}

#line1{
    margin-top: 2.7px;
}

#line2{
    margin-top: 7px;
}

aside{
    position: fixed;
    z-index: 100;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #AB8BFF;
}

aside div{
    width: 100%;
    height: 60%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
    position: relative;
}

aside div a{
    font-size: 24px;
}

#footer-end{
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #D6C7FF, #AB8BFF);
}

@keyframes sidenavReveal{
   0%{
     right: -100%;
   }
   25%{
    left: 75%;
   }
   50%{
    left: 50%;
   }
   75%{
    left: 25%;
   }
   100%{
    left: 0;
   }
}
@keyframes sidenavHide{
   0%{
     right: 0;
   }
   25%{
    right: -25%;
   }
   50%{
    right: -50%;
   }
   75%{
    right: -75%;
   }
   100%{
    right: -100%;
   }
}

@keyframes hamToXLine1{
    0%{
        rotate: 0deg;
    }
    25%{
        rotate: 15deg;
    }
    50%{
        rotate: 30deg;
    }
    100%{
        rotate: 45deg;
    }
}

@keyframes xToHamLine1{
    0%{
        rotate: 45deg;
    }
    25%{
        rotate: 30deg;
    }
    50%{
        rotate: 15deg;
    }
    100%{
        rotate: 0deg;
    }
}

@keyframes hamToXLine2{
    0%{
        rotate: 0deg;
    }
    25%{
        rotate: -15deg;
        margin-top: -2px;
    }
    50%{
        rotate: -30deg;
        margin-top: -2px;
    }
    100%{
        rotate: -45deg;
        margin-top: -2px;
    }
}
@keyframes xToHamLine2{
    0%{
        rotate: -45deg;
    }
    25%{
        rotate: -30deg;
        margin-top: 7px;
    }
    50%{
        rotate: -15deg;
        margin-top: 7px;
    }
    100%{
        rotate: 0deg;
        margin-top: 7px;
    }
}



section , footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#home{
    min-height: 100vh;
}

#home-main{
    width: 90%;
    display: flex;
    align-items: center;
}

#home-left , #home-right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-left{
    width: 100%;
}

#profile-img{
    margin: 0 auto;
    width: 20vw;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.75rem #AB8BFF);
}


#hello{
    font-size: 2vw;
    margin-bottom: 2px;
}

#sourav{
    font-size: 4vw;
    font-weight: 600;
}

.home-text{
    margin-top: 5px;
    font-size: 3vw;
    font-weight: 600;
}

.home-btn{
    padding: 8px 16px;
    background: #fff;
    color: black;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    border: 1px solid white;
}


#resume-btn{
    background: transparent;
    color: white;
    border: 1px solid white;
}

#about-section, #projects-section , #contact-section , #footer-section{
    margin-top: 24px;
    width: 90%;
}

#socials{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

#socials a i:hover{
    color: #AB8BFF;
}

#made-with-text{
    color: #D6C7FF;
}
#made-with-text:hover{
    color: #AB8BFF;
}

#showcase{
    overflow: hidden;
    margin: 24px 0;
    width: 100%;
    height: 30px;
    padding: 5px;
    background: #AB8BFF;
    overflow-x: hidden;
}

.wrapper{
    width: 100%;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#about-me{
    width: 40%;
    padding: 32px 24px;
    border-radius: 5px;
    background: #100c2a;
}

#about-me p{
    margin-top: 24px;
}

#education{
    width: 40%;
    padding: 32px 24px;
    border-radius: 5px;
    background: #100c2a;
}

.education-wrapper{
    margin-top: 24px;
}

#about i{
    font-size: 28px;
    padding: 8px;
    border-radius: 50%;
    background-color: #AB8BFF;
    margin-right: 8px;
}

@media screen and (max-width: 768px) {
    nav{
        width: 90%;
        padding: 16px 24px;
    }
    nav ul a{
       display: none; 
    }
    #ham-wrapper{
        display: flex;
    }
    #home-main{
        flex-direction: column-reverse;
        gap: 50px;
    }
    #profile-img{
        width: 50vw;
    }

    #hello{
        font-size: 5vw;
    }
    
    #sourav{
        font-size: 7vw;
    }
    .home-text{
        font-size: 6vw;
    }
    .home-btn{
        padding: 8px 16px;
        font-size: 16px;
    }
    .wrapper{
        flex-direction: column;
        gap: 16px;
    }
    #education , #about-me{
        width: 100%;
    }
}